<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.css">
{extend name="base_front_item"}
{block name="title"}{$roomInfo.name}{/block}
{block name="other_head"}
<script type="text/javascript">
    <!--
    function getLight(pars) {
        if (pars == "open") {
            close_light(this)
        } else {
            close_light(this)
        }
    }
    function thisMovie(movieName) {
        if (navigator.appName.indexOf("Microsoft") != -1) {
            return window[movieName]
        } else {
            return document[movieName]
        }
    }
    //-->
</script>
<script language=javascript src="__STATIC__/cuplayer/js/action.js" type=text/javascript></script>
{/block}
{block name="content"}

<div class="room-middle-box">
    <div class="">
        <div class="room-content-title am-u-md-12 am-u-lg-12　">
            <div class="am-u-md-1 am-u-lg-1　room-user-logo ">
                <img src="__STATIC__/images/headimgurl/{$roomInfo.headimgurl}" alt="logo" class=" am-circle ">
            </div>
            <div class="am-u-md-11 am-u-lg-11">
                <div class="am-u-md-12 am-u-lg-12 room-title-desc-content">
                    <span class="title-span"><b>{$roomInfo.name}</b></span>
                </div>
                <div class="am-u-md-12 am-u-lg-12 room-title-desc-content no-padding-right">
                    <div class="am-u-md-6 am-u-lg-6 title-span-bottom room-title-desc-content">
                        <span class="room-title-desc">{$roomInfo.nickname}</span>
                        <span class="room-title-desc">
                            房间号：{$roomInfo.guid} -
                            <a href="{:url('/',['cate'=>$roomInfo.typeid])}" class="am-text-warning ">{$roomInfo.type}</a>
                        </span>
                        <span class="room-title-desc">人气：{$roomInfo.people}</span>
                    </div>
                    <div class="am-u-md-6 am-u-lg-6  am-text-right no-padding-right">
                        <button class="am-btn am-btn-default">
                            <span class="am-icon-user-md"></span>
                            <span>举报</span>
                        </button>
                        {if condition="$userLoginFlag eq 0"}
                                <a class="am-btn am-btn-default" href="{:url('/login')}">
                                    <span>收藏：{$roomCollection}</span>
                                </a>
                        {else/}
                            {if condition="$roomCollecitonFlag eq 0" }
                                <button class="am-btn am-btn-default" onclick="toggleCollectionRoom(this)" room="{$roomInfo.guid}" collection="{$roomCollecitonFlag}">
                                    <span id="roomCollectionFont">收藏：{$roomCollection}</span>
                                </button>
                            {else /}
                                <button class="am-btn am-btn-warning"onclick="toggleCollectionRoom(this)" room="{$roomInfo.guid}"collection="{$roomCollecitonFlag}">
                                    <span id="roomCollectionFont">已收藏：{$roomCollection}</span>
                                </button>
                            {/if}

                        {/if}

                    </div>
                </div>
            </div>
        </div>
        <div class="room-viedo-content am-u-md-12">
            <div class="video" id="CuPlayer"><b><img src="__STATIC__/cuplayer/images/loading.gif" alt=""/>
                视频播放器加载中，请稍后...</b></div>
            <!--cuplayer /代码开始-->
            <script type="text/javascript" src="__STATIC__/cuplayer/js/swfobject.js"></script>
            {if condition="$roomInfo.status eq 1"}
              <script type="text/javascript">
                var rtmpApp = "__RTMP_URL__";
                var stream = "{$roomInfo.guid}";
                var title = "{$roomInfo.name}";
                var staticUrl = "__STATIC__/cuplayer/";
                var so = new SWFObject(staticUrl + "player.swf", "myCuPlayer", "100%", "600", "9", "#000000");
                so.addParam("allowfullscreen", "true");
                so.addParam("allowscriptaccess", "always");
                so.addParam("wmode", "opaque");
                so.addParam("quality", "high");
                so.addParam("salign", "lt");
                //播放器设置文件-----------------------------
                so.addVariable("JcScpFile", staticUrl + "CuSunV4setLive.xml"); //配置文件
                //视频文件及略缩图--------------------------
                /* 以下这行仅为rtmp直播时写法示例，直播信号是关的，请对应换成你自己的直播流使用 */
                so.addVariable("JcScpServer", rtmpApp); //流媒体服务器
                so.addVariable("JcScpVideoPath", stream); //直播流名称

                so.addVariable("JcScpAutoPlay", "yes"); //是否自动播放
                so.addVariable("JcScpImg","__STATIC__/images/live/{$roomInfo.guid}.png"); //视频缩略图
                //-----------------------------------------
                so.addVariable("JcScpSharetitle", title); //视频标题
                so.write("CuPlayer");
            </script>
            {else /}
              <script type="text/javascript">
                var rtmpApp = "__RTMP_URL__";
                var stream = "{$roomInfo.guid}";
                var title = "{$roomInfo.name}";
                var staticUrl = "__STATIC__/cuplayer/";
                var so = new SWFObject(staticUrl + "player.swf", "myCuPlayer", "100%", "600", "9", "#000000");
                so.addParam("allowfullscreen", "true");
                so.addParam("allowscriptaccess", "always");
                so.addParam("wmode", "opaque");
                so.addParam("quality", "high");
                so.addParam("salign", "lt");
                //播放器设置文件-----------------------------
                so.addVariable("JcScpFile", staticUrl + "CuSunV4setLive.xml"); //配置文件
                //视频文件及略缩图--------------------------
                /* 以下这行仅为rtmp直播时写法示例，直播信号是关的，请对应换成你自己的直播流使用 */
                so.addVariable("JcScpServer", rtmpApp); //流媒体服务器
                so.addVariable("JcScpVideoPath", stream); //直播流名称

                so.addVariable("JcScpAutoPlay", "no"); //是否自动播放
                so.addVariable("JcScpImg","__STATIC__/images/play_bg.jpg"); //视频缩略图
                //-----------------------------------------
                so.addVariable("JcScpSharetitle", title); //视频标题
                so.write("CuPlayer");
            </script>
            {/if}
            <!--cuplayer/代码结束-->
        </div>

        <div class="am-u-md-12 am-u-ls-12 room-viedo-desc">
            <h2>直播详情</h2>
            <div class="am-u-md-12 am-u-lg-12 room-viedo-desc-content ">
                {$roomInfo.description}
            </div>
        </div>
    </div>
</div>
<div class="room-right-box no-padding-left am-u-md-2 am-u-lg-2 no-padding-right">
    <!--right box start-->
    <div class=" am-u-md-12 am-u-lg-12 room-viedo-notice">
        <h3>直播公告 <span class="am-icon-volume-off "></span>：</h3>
        <div class="room-viedo-notice-content">
            {$roomInfo.notice}
        </div>
    </div>
    <!--notice end-->
    <!--chat box start -->
    <div class=" am-u-md-12 am-u-lg-12 room-viedo-chat">

    </div>
    <div class="am-u-md-12 am-u-lg-12 room-viedo-chat-button-box">
        <div class="left-div">
            <textarea name="chattext" id="chattext" placeholder="输入聊天内容..."></textarea>
        </div>
        <div class="am-btn am-btn-default right-div am-text-center ">
            <span class="">
                发送
            </span>
        </div>
    </div>
    <!--chat box end -->
</div>

<!--right box end-->
<script>
    function toggleCollectionRoom(obj){
        var guid="{$roomInfo.guid}",
            loginUser="{$userLoginInfo.guid}",
            roomUser="{$roomInfo.uid}",
            url="{:url('/user/collect')}",
            userCollectionFlag=Number($(obj).attr("collection"));
        if(loginUser==roomUser){
            $("#alertTitle").text("不能收藏自己");
            $("#alertBox").modal({'width':'300px'});
            return false;
        }
        $.ajax({
            url:url,
            type:'post',
            dataType:'json',
            data:'room='+guid,
            success:function(data){
                if(data.status==1){
                    // 如果操作是取消收藏
                    console.log(userCollectionFlag);
                    if(userCollectionFlag==1){
                        $(obj).attr('collection',0);
                        $(obj).removeClass('am-btn-warning');
                        $(obj).addClass('am-btn-default');
                        $("#roomCollectionFont").text("收藏："+data.data.number);
                        return false;
                    }else{
                        // 如果用户是添加收藏
                        $(obj).attr('collection',1);
                        $(obj).removeClass('am-btn-default');
                        $(obj).addClass('am-btn-warning');
                        $("#roomCollectionFont").text("已收藏："+data.data.number);
                        return false;
                    }
                }else{
                    $("#alertTitle").text(data.msg);
                    $("#alertBox").modal({'width':'300px'});
                    return false;
                }
            }
        });
    }changeMenuStatus('roomMenuUl');
</script>
{/block}
{/extend}